<footer>
    <div id="réseaux">
        <img src="{{ asset('build/reims_logo.jpg') }}" alt="Logo de Reims" />
        <ul> 
            <li> <a href="https://www.instagram.com/villedereims"> <i class="fa-brands fa-instagram"></i> </a>  </li>
            <li> <a href="https://twitter.com/VilledeReims"> <i class="fa-brands fa-twitter"></i>  </a> </li>
            <li> <a href="https://fr-fr.facebook.com/villereims/"> <i class="fa-brands fa-facebook"></i>  </a> </li>
            <li> <a href="https://www.linkedin.com/company/reims"> <i class="fa-brands fa-linkedin"></i> </a> </li>
            <li> <a href="https://www.youtube.com/channel/UCnSQ5I8C8H-LKZyVlUq7cNg"> <i class="fa-brands fa-youtube"></i> </a> </li>
        </ul>

        <section>
            <ul>
                <li><a href="{{ path('app_home') }}" class="{{ app.request.get('_route') == 'app_home' ? 'link-active' }}">Accueil</a></li>
                <li><a href="{{ path('app_events') }}" class="{{ app.request.get('_route') == 'app_events' ? 'link-active' }}">Événements</a></li>
                <li><a href="{{ path('app_contact') }}" class="{{ app.request.get('_route') == 'app_contact' ? 'link-active' }}">Contact & Informations</a></li>
                <li><a href="{{ path('app_cgu') }}" class="{{ app.request.get('_route') == 'app_cgu' ? 'link-active' }}">CGU</a></li>
                <li><a href="{{ path('app_profile') }}" class="{{ app.request.get('_route') == 'app_profile' ? 'link-active' }}">Mon compte</a></li>
            </ul>
        </section>
    </div>

{#    <div id="infos"> #}
{#        <p class="title_footer"> MAIRIE DE REIMS </p>#}
{#        <p> 51100 Reims </p>#}
{#        <p> <a href="{{ path('app_cgu') }}"> &copy REIMS EVENEMENT </a> </p>#}
{#        <p> <img src="{{ asset('build/phone.png') }}" alt="Logo téléphone" /> <a href="/"> 03 26 77 78 79  </a> </p>#}
{#        <p> <img src="{{ asset('build/mail.png') }}" alt="Logo de mail" /> <a href="/"> Contacter la mairie </a> </p>#}
{#        <p>Copyright &copy 2022 | Reims Événements</p>#}
{#    </div>#}

{#    <div id="map"> #}
{#        <ul>#}
{#            <li><h3>Liens Importants</h3></li>#}
{#            <li><a href="{{ path('app_home') }}">Accueil</a></li>#}
{#            <li><a href="{{ path('app_events') }}">Événements</a></li>#}
{#            <li><a href="{{ path('app_contact') }}">Contact</a></li>#}
{#            <li><a href="{{ path('app_cgu') }}">CGU</a></li>#}
{#            <li><a href="{{ path('app_profile') }}">Mon compte</a></li>#}
{#        </ul>#}
     </div>
</footer>